@import url("https: //fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --primaryColor: #272a27;
  --secondaryColor: #ec5242;
  --backgroundColor: #d1e0d1ec;
}

body {
  font-family: 'Lato', sans-serif;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.menu-logo {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
}

/* menu style */
.menu-section {
  display: none;
}

.menu-section.visible {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(216, 210, 210, 0.9);
  height: 330vh;
  width: 100%;
}

.menu-close-btn {
  align-self: flex-end;
  margin: 2rem 2rem;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.menu-list a {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 3rem;
}

.event {
  color: var(--primaryColor);
  border: 3.5px solid var(--secondaryColor);
  width: 40%;
  padding: 2rem 2rem;
  margin-left: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  box-sizing: border-box;
}

/* ######### */

.menu-logo span img {
  padding-left: 2.3rem;
  width: 60%;
}

.theme {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(102, 112, 102, 0.7), rgb(102, 112, 102, 0.6)), url(images/backgrounds/coding-person-back.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.theme h3 {
  color: var(--secondaryColor);
  letter-spacing: 0.2rem;
  padding-left: 1.5rem;
}

.theme h1 {
  text-transform: uppercase;
  padding-left: 1.5rem;
  color: var(--seconderyColor);
  margin: 10px 0;
  background-image: url("/images/backgrounds/font.jpg");
  background-size: cover;
  background-position: center center;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description p {
  border-style: double;
  border-color: #f7f3f3;
  box-sizing: border-box;
  padding-left: 1.2rem;
  margin: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: normal;
}

.address {
  background-color: var(--backgroundColor);
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.address p {
  line-height: 1.5rem;
  letter-spacing: normal;
  text-align: center;
}

.address a {
  color: rgb(71, 67, 67);
  font-weight: 580;
}

.address a:active {
  color: blue;
}

.creative {
  display: flex;
  flex-direction: column;
}

.creative h2 {
  text-align: center;
  color: #2c2c2c;
  font-weight: 700;
  border-bottom-width: 0.1rem;
  border-bottom-color: #ec5242;
  border-bottom-style: solid;
}

.creative p {
  font-weight: 500;
  line-height: 1.5rem;
  color: #838383;
  text-align: center;
  box-sizing: border-box;
}

.past ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 3rem;
  box-sizing: border-box;
}

.past ul li {
  list-style: none;
}

.partners h2 {
  color: #f7f3f3;
  text-align: center;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

.past ul .summit2019 {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(
      rgba(
        153,
        48,
        22,
        0.6
      ),
      rgba(153, 48, 22, 0.6)
    ),
    url(images/programs/2019.jpg);
  background-size: cover;
  background-position: center center;
  background-clip: initial;
}

.past ul .summit2019 h2 {
  color: #f7f3f3;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Lato', sans-serif;
}

.past ul .summit2022 {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(
      rgba(
        153,
        48,
        22,
        0.6
      ),
      rgb(
        153,
        48,
        22,
        0.6
      )
    ),
    url(images/programs/2022alt.jpeg);
  background-size: cover;
  background-position: center center;
  background-clip: initial;
}

.past ul .summit2022 h2 {
  color: #f7f3f3;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Lato', sans-serif;
}

.partners {
  background-color: #414246;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  width: 100%;
}

.partner-list {
  list-style: none;
}

.partners ul .partner-list img {
  width: 40%;
}

#menu-logo .logo img {
  width: 90%;
  padding-left: 2.5rem;
}

.foot {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.foot p {
  padding-right: 2rem;
  color: gray;
  font-weight: 600;
}
