@import url("https: //fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --primaryColor: #272a27;
  --secondaryColor: #ec5242;
  --backgroundColor: #dbdfdbec;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: #f7f3f3;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
.nav {
    display: flex;
    
}
.nav .menu-logo {
  width: 100%;
  height: 8rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.nav .fa-bars {
  padding-left: 1.3rem;
  padding-bottom: 2.6rem;
  margin-top: 1.3rem;
  width: 20%;
}
/* menu event styles */
.menu-section {
  display: none;
}

.menu-section.visible {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgba(216, 210, 210, 0.9);
  height: 330vh;
  width: 100%;

}
.menu-close-btn {
  align-self: flex-end;
  margin: 2rem 2rem;
}
.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
.menu-list a {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 5rem;
}
.event {
  color: var(--primaryColor);
  border: 3.5px solid var(--secondaryColor);
  width: 40%;
  /* height: 2.5rem; */
  /* text-align: center; */
  padding: 2rem 2rem;
  margin-left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  box-sizing: border-box;
}
/* #### */
li .cards-image img {
  width: 100%;
  height: auto;
  position: relative;
}

.nav .logo img {
  padding-top: 1.3rem;
  padding-left: 1.3rem;
  width: 60%;
  align-self: center;
}

.hero-container {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(206, 205, 205, 0), rgb(220, 224, 220)), url(images/backgrounds/summit-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container h3 {
  color: var(--secondaryColor);
  letter-spacing: 0.2rem;
  padding-left: 1.5rem;
}

.hero-container h1 {
  text-transform: uppercase;
  padding-left: 1.5rem;
  color: var(--seconderyColor);
  margin: 10px 0;
  background-image: url("/images/backgrounds/font.jpg");
  background-size: cover;
  background-position: center center;
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-container-text {
  border-style: double;
  border-color: #f7f3f3;
  box-sizing: border-box;
  padding-left: 1.2rem;
  margin: 1.2rem;
}

.time h2 {
  color: #595959;
  font-weight: 900;
  font-size: 20px;
  padding-left: 1.2rem;
}

.time p {
  color: rgb(133, 126, 126);
  padding-left: 1.2rem;
}

.programs {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60rem;
  background-image: url(/images/backgrounds/main-program-bg.png);
  background-color: rgb(39 42 50 / 99.3%);
}

.programs h2 {
  color: #fff;
  align-self: center;
  font-weight: 100;
}

.list-programs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.1rem;
  padding: 1rem;
  margin: 0.5rem;
  height: 3rem;
}

.li-cards {
  display: flex;
  gap: 2rem;
  background: linear-gradient(rgba(225, 224, 225, 0.1), rgb(225, 224, 225, 0.1));
  padding: 1rem;
}

.li-cards .Forum {
  padding-left: 1rem;
  line-height: 1.5rem;
}

.li-cards .p-text {
  line-height: 1.5rem;
}

.li-cards .workshop {
  padding-right: 1.5rem;
  line-height: 1.5rem;
}

.li-cards .ignite {
  padding-left: 1rem;
  line-height: 1.5rem;
}

.li-cards p {
  color: #fff;
}

.li-cards span {
  color: var(--secondaryColor);
}

.footer-but {
  background: #ec5242;
  color: #fff;
  margin-top: 120%;
  height: 5.2rem;
  width: 24rem;
  margin-bottom: 1.2rem;
  align-self: center;
}

/* speakers styles */
.speakers {
  width: 100%;
  height: fit-content;
  background-color: #f7f3f3;
}

.speakers h2 {
  color: #272a31;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.speakers .other-speakers {
  display: flex;
  flex-direction: column;
  font-family: 'lato', sans-serif;
  gap: 3rem;
}

li .cards-image {
  width: 20rem;
  height: 13rem;
  list-style: none;
}
.cards {
  list-style: none;
  
}

li .cards-text {
  margin: 2rem;
  max-width: 15rem;
  position: relative;
}

li .cards-text h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

li .cards-text h4 {
  color: #f78c89;
  letter-spacing: normal;
  line-height: 1.5rem;
}

li .cards-text p {
  font-weight: 600;
  letter-spacing: 0.09rem;
  line-height: 1.5rem;
}

.speakers button {
  width: 85%;
  height: 5rem;
  margin: 2rem;
  border: 2px solid #c4bbbb;
  box-shadow: 0 0 5px #9c9797;
}

.speakers span {
  font-weight: 750;
  font-size: 2rem;
  padding-top: 2rem;
}

.speakers i {
  color: var(--secondaryColor);
  margin-left: 2rem;
}

/* end of speaker style */

